.game-frame {
    padding: 4px;
    display: flex;
    width: calc(100vw - var(--leftpanel-width));
    height: 100vh;
    background-color: var(--field-bg);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#game-field {
    width: auto;
    height: auto;
    flex: 0 0 auto;
}

.tile-row {
    height: var(--tile-size);
    width: 100%;
    display: flex;
}
