#left-panel {
    display: flexbox;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--leftpanel-bg);
    justify-content: center;
    width: 100vw;
    height: 225px;
    border-bottom: 3px solid var(--screen-split);
}

#left-panel-inner {
    width: 96%;
    margin: 0 2% 0 2%;
    height: 100%;
}

.counter {
    display: flex;
    background-color: var(--counter-bg);
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--counter-outline);
    width: calc(100% - 14px);
    height: 34px;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin: 7px;
}

.under-ref {
    margin-top: -20px
}

.btn {
    display: flex;
    background-color: var(--button-bg);
    border-radius: 4px;
    width: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.25s ease;
    width: 100%;
    height: 30px;
    margin: 7px;
}

.btn:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.game-label {
    position: relative;
    text-decoration: none;
    margin-bottom: 10px;
    background: linear-gradient(-45deg, red, #5c54c4, #d55, #1c3);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 15s ease infinite;
    font-weight: bolder;
}

span.game-label {
    position: relative;
    top: -17px;
}

.btn#collapse {
    margin: auto 7px auto 7px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}