.left-panel {
    display: flexbox;
    width: var(--leftpanel-width);
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--leftpanel-bg);
    justify-content: center;
    border-right: 4px solid var(--screen-split);
}

.counter {
    display: flex;
    margin: 10px;
    margin-top: 30px;
    width: calc(var(--leftpanel-width) * 0.9);
    height: 45px;
    border-radius: 4px;
    background-color: var(--counter-bg);
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--counter-outline);
}

.toolbar {
    width: auto;
    height: 64px;
    margin: 10px;
    display: flex;
}

.tool {
    display: flex;
    width: 64px;
    height: 64px;
    margin: auto;
    background-color: var(--tool-bg);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;

    transition: 
        background-color 0.3s ease;
}

#tool-shovel.active {
    background-color: var(--tool-shovel-active);
}

#classic-flag.active {
    background-color: var(--classic-flag-active);
}

#quant-flag.active {
    background-color: var(--quant-flag-active);
}

.btn {
    display: flex;
    background-color: var(--button-bg);
    border-radius: 4px;
    width: auto;
    margin: 10px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.25s ease;
}

.btn:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.game-label {
    position: relative;
    text-decoration: none;
    margin-bottom: 10px;
    background: linear-gradient(-45deg, red, #5c54c4, #d55, #1c3);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 15s ease infinite;
    font-weight: bolder;
}

span.game-label {
    position: absolute;
    margin-top: -10px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}