@media only screen and (max-width: 768px) {
    /**/
    :root {
        --tile-size: 28px;
        --leftpanel-width: 220px;
    }

    body {
        overscroll-behavior-x: contain;
    }

    .app {
        flex-direction: column;
    }

    .left-panel {
        width: 100vw;
        height: var(--leftpanel-width);
        border-right: none;
        border-bottom: 4px solid var(--screen-split);
    }

    .mobile-compress {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .counter {
        margin: 7px;
        margin-top: 20px;
        width: 90%;
        height: 34px;
        border-radius: 3px;
    }

    .toolbar {
        height: 48px;
        margin: 7px;
        font-size: 8px;
    }

    .tool {
        width: 48px;
        height: 48px;
        border-radius: 3px;
        margin: 4px;
    }

    .btn {
        width: 45%;
        height: 30px;
        margin: 7px;
    }

    #start-game.btn {
        width: 80%;
    }

    .popup-content {
        width: 80vw;
        max-width: 300px;
    }

    .game-frame {
        width: 100vw;
        height: calc(100vh - var(--leftpanel-width) - 4px);
    }

    input[type="number"] {
        height: 22px;
        font-size: 13px;
    }

    span.game-label {
        margin-top: -17px;
    }
}