:root {
    --leftpanel-width: 275px;
    --tile-size: 30px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: var(--text);
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 100%;
}

.app {
    display: flex;
}