:root {
    --tile-size: 28px;
    --leftpanel-width: 220px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: var(--text);
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 100%;
    overscroll-behavior-x: contain;
}

.app {
    display: flex;
    flex-direction: column;
}

.citate {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--label);
}

.hbox {
    display: flex;
    flex-direction: row;
}